.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: var(--body-s);
  padding: 16px 32px;
  border-radius: 28px;
}

.btn-large {
  padding-top: 18px;
  padding-bottom: 18px;
}

.btn-primary {
  color: #fff;
  font-weight: 700;
  background: var(--gradient);
}

.btn-primary:hover,
.btn-primary:focus {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(135deg, var(--green-hover) 0%, var(--green-hover) 100%);
}

@media (max-width: 550px) {
  .btn-large {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
