.header {
  padding: 75px 20px 160px 20px;
}

.header-container {
  margin: 0 auto;
  max-width: 734px;
}

.header-img {
  max-width: 98%;
  width: 100%;
}

.header-title {
  text-align: center;
  color: #fff;
  margin: 36px 0 32px 0;
  font-weight: 700;
}

.header-description {
  text-align: center;
  margin: 0 auto 32px auto;
  color: #fff;
  max-width: 590px;
}

.header .btn {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
}

.features {
  padding: 0 20px;
}

.features-container {
  display: grid;
  justify-items: center;
  margin: 0 auto;
  max-width: 880px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 80px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  max-width: 350px;
  width: 100%;
}

.feature-title,
.feature-description {
  text-align: center;
  color: #fff;
}

.feature-title {
  font-weight: 700;
  margin: 16px 0 8px 0;
}

.feature-img {
  max-height: 78px;
  height: 100%;
}

@media (max-width: 615px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .header-title {
    margin: 33px 0 15px 0;
  }

  .header-description {
    max-width: 296px;
  }

  .header .btn {
    max-width: 240px;
  }

  .header {
    padding-top: 50px;
    padding-bottom: 130px;
  }
}
