.header {
  padding: 75px 20px 160px 20px;
}

.header-container {
  margin: 0 auto;
  max-width: 734px;
}

.header-img {
  max-width: 98%;
  width: 100%;
}

.header-title {
  text-align: center;
  color: #fff;
  margin: 36px 0 32px 0;
  font-weight: 700;
}

.header-description {
  text-align: center;
  margin: 0 auto 32px auto;
  color: #fff;
  max-width: 590px;
}

.header .btn {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
}

@media (max-width: 550px) {
  .header-title {
    margin: 33px 0 15px 0;
  }

  .header-description {
    max-width: 296px;
  }

  .header .btn {
    max-width: 240px;
  }

  .header {
    padding-top: 50px;
    padding-bottom: 130px;
  }
}
